{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block courses %}

  {% if curr_sites %}
  <form action="#" method="get">
    {% for site in curr_sites %}
      <li>
        <input type="submit" name={{ site.title }} value="{{ site.title }}"></input>
      </li>
    {% endfor %}
  </form>
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <h6>&nbsp; Current Course: {{ curr.title }}</h6>
  </div>
</div>

<div class="container">
  <div class="header">
    <h4>Assignment List</h4>
  </div>

  <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Assignments</th>
          <td class="col-xs-2"><a href="#">Homework 1</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">Open</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">Jan 1</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">Apr 1</td>
        </tr>
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Assignments</th>
          <td class="col-xs-2"><a href="#">Homework 2</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">Open</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">Jan 1</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">Apr 1</td>
        </tr>
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Assignments</th>
          <td class="col-xs-2"><a href="#">Homework 3</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">Open</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">Jan 1</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">Apr 1</td>
        </tr>
        <!--something to denote that an attachment exists?-->
      </table>    
  </div>
  <hr>
</div> <!-- /container -->

{% endblock %}