{% extends "login_layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
<div class="jumbotron">

    {% if login_failed %}
      <div class="alert alert-danger">
          {{ login_failed }}
      </div>
      {% endif %}
  <form class="form-signin" action="" method="POST">
  	{% csrf_token %}
    <h3>T-Square 2</h3>

    <input type="text" name="username" class="form-control" placeholder="Username" />
    <input type="password" name="password" class="form-control" placeholder="Password" />
    <!--<label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>-->
    <!--Allow mobile browsers to save login info?-->
    <button class="btn btn-warning btn-lg btn-block" type="submit" value="Login"> Login</button>
  </form>

  <div class="row text-center">
    <small>Note: You can login without a username and password.</smalll>
  </div>
</div>
</div>

{% endblock %} 
