{% extends "layout.html" %}

{% block title %}Profile Settings{% endblock %}

{% block courses %}

  {% if curr_sites %}
  <form action="#" method="get">
    {% for site in curr_sites %}
      <li>
        <input type="submit" name={{ site.title }} value="{{ site.title }}"></input>
      </li>
    {% endfor %}
  </form>
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <h6>&nbsp; Current Course: {{ curr.title }}</h6>
  </div>
</div>

<div class="container">
  <div class="header">
    <h4>Profile Settings</h4>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text1">
        <!--<p><a href="#">Customize Current Courses</a></p>-->
        <p><a href="/sites/">User Course List</a></p>
        <p><a href="#">Notifications</a></p>
        <p><a href="#">Time Zone</a></p>
        <p><a href="#">Language</a></p>
        <p><a href="/services">Services</a></p>
        <!--another link to github profile setup?-->
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}
